@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mirza:wght@400;500;600;700&family=Noto+Sans+Mono:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --accent: hsl(50, 100%, 86%);
    --accent-hover: hsl(45, 100%, 80%);
    --text: hsl(0, 0%, 10%);
    --heading: hsl(206, 48%, 40%);
  }
  
  body p{
    font-size: 16px;
  }
  
  .btn-accent {
    background-color: var(--accent);
    color: var(--text);
    transition: background-color 0.2s;
  }
  
  .btn-accent:hover {
    background-color: var(--accent-hover);
  }

  h1 {
    font: 'Playfair'
  }

  h2 {
    color: var(--heading);
  }



